/* You can add global styles to this file, and also import other style files */
.margin-top-100{
  margin-top: 100px;
}

body{
  background-color: rgb(46, 46, 46);
}

.card-background{
  background-color: rgb(46, 46, 46) !important;
}
